---
/**
 * * Route section
 */

import Button from '@components/Button/Button.astro';
import routeData from '@config/routeData.json';
import { Image } from 'astro:assets';

export interface RunRoute {
  name: string;
  distance: number;
  elevation: string;
  terrain: string;
  image: ImageMetadata;
}
---

<section id="routes" class="mx-auto max-w-6xl scroll-mt-10 px-4 py-8 md:py-12">
  <div class="mx-auto max-w-6xl text-center">
    <h2 class="h2 text-pretty uppercase">Choose A Route</h2>
  </div>

  <div
    class="mx-auto grid w-full max-w-md gap-12 pt-8 sm:max-w-none sm:grid-cols-2 md:pt-12 lg:grid-cols-3"
  >
    {
      routeData.map(route => (
        <div class="flex w-full flex-col">
          <div>
            <div class="aspect-[3/4] h-auto w-full overflow-hidden">
              <Image
                src={route.cardImage}
                alt={route.cardImageAlt}
                width={450}
                densities={[1.5, 2]}
                class="h-full w-full object-cover"
              />
            </div>
          </div>
          <div class="border-primary-500 flex h-full flex-col justify-between border-2 border-t-0 pt-10 pb-10">
            <div>
              <h3 class="h2 text-center">{route.name}</h3>

              <ul class="mt-4 flex flex-col gap-3 px-8">
                <li class="leading-snug lg:text-lg lg:leading-snug">
                  Distance: {route.distance}km
                </li>
                <li class="leading-snug lg:text-lg lg:leading-snug">
                  Elevation: {route.elevation}
                </li>
                <li class="leading-snug lg:text-lg lg:leading-snug">Terrain: {route.terrain}</li>
              </ul>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="mt-12 flex justify-center">
    <Button href="/register" variant="primary">Register</Button>
  </div>
</section>
